.btn {
    padding: 16px 32px;
    border-radius: 24px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    position: relative;
}

.btn.dark {
    background: var(--dark-blue-color);
}

.btn.light {
    background: var(--orange-color);
}

.btn.enrol-icon::before {
    content: url("../images/pencil_alt.svg");
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
}

.btn.enrol-icon {
    padding-left: 60px;
}